{% extends 'base.html.twig' %}

{% block body %}

    <h4 class="fs-5">
        <br>
        <br>
        Bienvenue, nous sommes le 
        <span class="badge bg-primary">
            <em> {{ajd}} </em> 
        </span>
        <br>

        <br>
        <br>

    </h4>

{% endblock body %}